/examples/dotNET_MVC/Api.Data/bin/Release
/examples/dotNET_MVC/Api.Data/obj/Release
/examples/dotNET_MVC/Api.Web/App_Data
/examples/dotNET_MVC/Api.Web/Properties/PublishProfiles
Release
esm
umd
/examples/dotNET_MVC/Api.Web/obj/Release/Package
/examples/dotNET_MVC/Api.Web/obj/Release/ProfileTransformWebConfig
/examples/dotNET_MVC/Api.Web/obj/Release/TempPE
/examples/dotNET_MVC/Api.Web/obj/Release/TransformWebConfig
/examples/dotNET_MVC/Api.Web/obj/Release/_WPPLastBuildInfo.txt
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.csproj.CopyComplete
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.csproj.CoreCompileInputs.cache
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.csproj.FileListAbsolute.txt
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.csprojResolveAssemblyReference.cache
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.dll
/examples/dotNET_MVC/Api.Web/obj/Release/Api.Web.pdb
/examples/dotNET_MVC/Api.Web/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/examples/dotNET_MVC/Api.Web/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/examples/dotNET_MVC/Api.Web/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/examples/dotNET_MVC/Api.Web/obj/Release/Tsc.out
