<connectionStrings>
    <add name="EtrDataSourceMySQL" connectionString="server=:3306;user id=;password=;persistsecurityinfo=True;database=;ConnectionTimeout=200;DefaultCommandTimeout=200;Allow Zero Datetime=True;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
